.div-bg-main{
    width: 100%;
    height: 90vh;
    background-image: url("../img/fondomain.jpg");
    background-size: 100%;

    align-content: center;
}
.p-modal1{
    font-family: Cambria,arial,helvética;;
    color: #EEEEEE;
    white-space: nowrap;

}

.modal1{
    height: 7em;
    text-align: center;
    position: relative;
    top: 30vh;
    left: 33%;
    width: 33%;
    border-radius: 5%;
}
.base-modal1{
    width: 1%;
    overflow: hidden;
    top: 20%;
    text-align: center;
    position: relative;
    z-index: 21;
    animation: desplegar-nombre 3s;

}
.fondo-modal1{
    top: 0%;
    position: absolute;
    width: 100%;
    height: 7em;
   background-color: black;
    z-index: 20;
    border-radius: 5%;
    opacity: 0.5;
    filter: blur(10px);
    animation-duration: 3s;
    animation-name: moveup;
    animation-iteration-count: infinite;
}


@keyframes moveup {
    0% {
        filter: blur(10px);
        top: 0%;
        
    }

    50%{
        filter: blur(30px);
        top: 10%;
    }
  
    100% {
        filter: blur(10px);
        top: 0%;
    }
}

body{
    margin: 0%;
}
html{
    margin: 0%;
}